@model IEnumerable<Kurs>

<h2>Kurs Listesi</h2>

<a href="/Kurs/Create" class="btn btn-primary">Kurs Ekle</a>
<hr>
<table class="table table-border">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.KursId)</th>
            <th>@Html.DisplayNameFor(m => m.Baslik)</th>
       </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.KursId)</td>
                <td>@Html.DisplayFor(m => item.Baslik)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.KursId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.KursId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>